# Auto detect text files and perform LF normalization
* text eol=lf
# # Turn off normalization for PNGs
*.csv binary
*.db binary
*.eot binary
*.gif binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.otf binary
*.pdf binary
*.png binary
*.swf binary
*.ttf binary
*.woff binary
*.woff2 binary
