<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true"
        debug="true">
    <testsuites>
        <testsuite name="Project">
            <directory suffix="Test.php">./tests/unit/Project</directory>
        </testsuite>
    </testsuites>
</phpunit>
