<?php

return [
    'mail' => [
        'to' => ['radu@predator.webserv.co', 'Swup'],
        'from' => ['apache@predator.webserv.co', 'Swup'],
        'bcc' => ['radu@predator.webserv.co', 'Swup'],
    ],
];
