<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HTML5 App</title>
    <meta name="description" content="">

    <!-- specify favicon path when not in domain root -->
    <link href="public/favicon.ico" rel="icon" type="image/x-icon" />

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/main.css"><!-- contains: bootstrap, fontawesome css -->
    <!-- DataTables Bootstrap theme -->
    <link rel="stylesheet" href="./../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<!-- DISABLED DataTables Responsive
<link rel="stylesheet" href="./../../node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.css">
-->
    <!-- PACE -->
    <link rel="stylesheet" href="./../../node_modules/pace-js/themes/green/pace-theme-center-simple.css">
    <!-- App -->
    <link rel="stylesheet" href="css/app.css">
    <!--endbuild-->
</head>
<body>

    <main role="main" id="main">
        <div id="content" class="container" data-url="">

            <h1>Layout</h1>

            <p>This is used to generate the optimized CSS and JavaScript files.</p>
            <p>Please see <code>/docs/Layout.md</code> for details.</p>
            <p>Additional layout information: <a href="https://github.com/webservco/html5-app">webservco/html5-app</a>.</p>

            <h2>Font Awesome</h2>
            <p>
                <i class="fas fa-music"></i> <code>&lt;i class="fas fa-music"&gt;&lt;/i&gt;</code>
            </p>

        </div>
    </main>

    <script>
    //<![CDATA[
    var urlApp = '/';
    //FontAwesomeConfig = { searchPseudoElements: true }; // enable if using Font Awesome SVG with pseudo elements
    //]]>
    </script>
    <!--build:js js/scripts.min.js defer -->
    <script defer src="./../../node_modules/jquery/dist/jquery.js"></script>
    <script defer src="./../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="./../../node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script defer src="./../../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<!-- DISABLED DataTables Responsive
    <script defer src="./../../node_modules/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script defer src="./../../node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.js"></script>
-->
    <!-- PACE https://github.hubspot.com/pace/docs/welcome/ -->
    <script defer src="./../../node_modules/pace-js/pace.js"></script>
    <!-- history-navigation https://github.com/webservco/history-navigation -->
    <script defer src="./../../node_modules/@webservco/history-navigation/src/jquery.history-navigation.js"></script>
    <!-- Font Awesome SVG. Disable if using Font Awesome CSS
    <script defer src="./../../node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <!-- -->
    <!-- App -->
    <script defer src="./../javascript/dataTables/formatDetailsRow.js"></script><!-- DataTables -->
    <script defer src="./../javascript/dataTables/dataTableServerSide.js"></script><!-- DataTables -->
    <script defer src="./../javascript/initialise.js"></script>
    <script defer src="./../javascript/main.js"></script>
    <!-- endbuild -->

</body>
</html>
