<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HTML5 App</title>
    <meta name="description" content="">

    <!-- specify favicon path when not in domain root -->
    <link href="public/favicon.ico" rel="icon" type="image/x-icon" />

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="./../../node_modules/pace-js/themes/green/pace-theme-center-simple.css">
    <link rel="stylesheet" href="css/app.css">
    <!--endbuild-->
</head>
<body>

    <h1>Layout</h1>

    <p>This is used to generate the optimized CSS and JavaScript files.</p>
    <p>Please see <code>/docs/Layout.md</code> for details</p>

    <!-- Scripts included: -->
    <!-- jquery -->
    <!-- boostrap bundle (bootstrap and popper) -->
    <!-- pace-js -->
    <!-- history-navigation -->
    <!-- app script: main.js -->
    <!--build:js js/scripts.min.js defer -->
    <script defer src="./../../node_modules/jquery/dist/jquery.js"></script>
    <script defer src="./../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="./../../node_modules/pace-js/pace.js"></script>
    <script defer src="./../../node_modules/@webservco/history-navigation/src/jquery.history-navigation.js"></script>
    <script defer src="./../javascript/main.js"></script>
    <!-- endbuild -->

</body>
</html>
